body {
    padding: 0;
    margin: 0;
    background: #000;
    font-family: 'Courier New', Courier, monospace;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
img {
    object-fit: contain;
}
.hikari-mediika-grob-grob {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.content-box {
    margin-top: 26px;
    margin-bottom: 26px;
    min-height: calc(100vh - 26px * 2);
    border: 3px solid rgb(255, 204, 204);
    background-color: rgb(255, 247, 236);
    border-radius: 16px;
    max-width: 1024px;
    margin-left: 26px;
    margin-right: 26px;
    width: calc(100vw - 26px * 2);
    min-width: calc(360px - 26px * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.heading {
    border: 3px solid rgb(255, 204, 204);
    background-color: rgb(154, 165, 205);
    border-radius: 16px;
    max-width: 600px;
    margin: 8px;
    margin-top: 16px;
    min-height: 160px;
    min-width: 300px;
    width: calc(100% - 16px);
    overflow: hidden;
}
.mediabox-item {
    border: 3px solid rgb(255, 204, 204);
    background-color: rgb(229, 255, 226);
    border-radius: 16px;
    max-width: 600px;
    margin: 8px;
    min-height: 160px;
    min-width: 300px;
    width: calc(100% - 16px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: 'Courier New', Courier, monospace;
}
.text {
    width: 70%;
    padding-top: 26px;
    padding-bottom: 26px;
}
.screenshot {
    border: none;
    border-radius: 16px;
    background-color: #fff;
    width: 100%; 
    overflow: hidden;
    object-fit: contain;
}
.copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #ccc;
    margin-top: 16px;   
    margin-bottom: 16px;
}